<style>
        .img {
            border-color: rgb(255, 148, 77)
        }

        body {
            background-color: hsl(120, 60%, 55%);
        }

        p {
            color: rgb(153, 0, 153)
        }

        

        <style>