        .container, div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        img {
            border-style: solid;
            border-color: antiquewhite;
            border-width: 2px;
        }

        img:hover {
            border-style: solid;
            border-color: rgb(255, 148, 77);
            border-width: 4px;
        }

        article:nth-child(odd){
            background-color: rgba(199, 50, 33, 0.301);
        }

        h1 {
            border-style: solid;
            background-color: hsl(0, 100%, 70%);
            border-color: hsl(204, 100%, 50%);
            border-width: 2px;
            border-right: 2px;
        }

        h2 {
            border-style: solid;
            background-color: hsl(0, 100%, 70%);
            border-color: hsl(204, 100%, 50%);
            border-width: 2px;
            border-right: 2px;
        }

        h3 {
            border-style: solid;
            background-color: hsl(0, 100%, 70%);
            border-color: hsl(204, 100%, 50%);
            border-width: 2px;
            border-right: 2px;
        }

        a {
            font-size: 2rem;
            transition-property: font-size;
            transition-duration: 2s;
            transition-timing-function: linear;
        }

        a:hover {
            font-size: 5rem;
        }

        a:link, a:hover {
            background-color: azure;
            color: black;
        }

        body {
            background-color: hsl(120, 60%, 55%);
        }

        p {
            color: rgb(153, 0, 153);
        }

        footer {
            background-color: rgb(255, 255, 0);
            border-style: dotted;
            border-color: brown;
            border-width: 3px;
            border-right: 3px;
        }